*Simple print statement which displays output as "Hello SJSU!"*

In [2]:
print("Hello SJSU!")

Hello SJSU!

*Multiline comments in python*

In [5]:
'''
This is an example of a multiline comment.
It spans multiple lines.
'''
print("Hello, SJSU!")

Hello, SJSU!

*Assigning a string value to a variable*

In [7]:
name = 'Aishwarya'
print(name)

Aishwarya

*Assigning an integer value to a variable*

In [8]:
num = 15
print(num)

15

_The arithmetic operators +, -, *, /, %, **, //_

In [9]:
print("3 + 8 =", 3+8)
print("9 - 4 =", 9-4)
print("3 * 2 =", 3*2)
print("6 / 3 =", 6/3)
print("7 % 1 =", 7%1)
print("5 ** 4 =", 5**4)
print("9 // 7 =", 9//7)

3 + 8 = 11
9 - 4 = 5
3 * 2 = 6
6 / 3 = 2.0
7 % 1 = 0
5 ** 4 = 625
9 // 7 = 1

_Order of arithematic operation mentions that * and / is performed before + and -_

In [10]:
print("2 + 5 - 3 * 6 =", 2 + 5 - 3 * 6)
print("(2 + 5 - 3) * 6 =", (2 + 5 - 3) * 6)

2 + 5 - 3 * 6 = -11
(2 + 5 - 3) * 6 = 24

*Escape Charaters*

In [17]:
# Single line quote
quote = "\"An apple a day,"
# A multi-line quote
multi_line_quote = '''keeps
a doctor away" '''

print(quote + multi_line_quote)

"An apple a day,keeps
a doctor away"

*Embed a string in output using %s*

In [19]:
print("%s %s %s" % ('Do you know the quote?', quote, multi_line_quote))

Do you know the quote? "An apple a day, keeps
a doctor away"

*To avoid newlines at the end use end=" "*

In [22]:
print("I don't like ",end="")
print("newlines")

I don't like newlines

*Print a string multiple times using **

In [25]:
print('Hi''\n'* 5)

Hi
Hi
Hi
Hi
Hi

*Lists*

In [28]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
print('The first item is', fruits_list[2])

The first item is Oranges

*Changing a name in the list*

In [30]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
fruits_list[0] = 'Grapes'
print(fruits_list[0])

Grapes

*Getting a subset of a list*

In [31]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
print(fruits_list[1:3])

['Tomatoes', 'Oranges']

*Adding lists within lists*

In [32]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
grocery_list = ['Rice', 'Dal', 'Salt']
to_do_list = [grocery_list, fruits_list]

print(to_do_list)

[['Rice', 'Dal', 'Salt'], ['Apple', 'Tomatoes', 'Oranges', 'Bananas']]

*Get third item in list 2*

In [33]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
grocery_list = ['Rice', 'Dal', 'Salt']
to_do_list = [grocery_list, fruits_list]
print(to_do_list[1][3])

Bananas

_Adding new values using **append**_

In [35]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
grocery_list = ['Rice', 'Dal', 'Salt']
to_do_list = [grocery_list, fruits_list]
grocery_list.append('Onions')
print(to_do_list)

[['Rice', 'Dal', 'Salt', 'Onions'], ['Apple', 'Tomatoes', 'Oranges', 'Bananas']]

*Inserting an item into a given index*

In [37]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
fruits_list.insert(1, "Grapes")
print(fruits_list)

['Apple', 'Grapes', 'Tomatoes', 'Oranges', 'Bananas']

*Removing an item from a list*

In [39]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
fruits_list.remove('Oranges')
print(fruits_list)

['Apple', 'Tomatoes', 'Bananas']

*Sorting a list*

In [42]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
fruits_list.sort()
print(fruits_list)

['Apple', 'Bananas', 'Oranges', 'Tomatoes']

*Reverse sort the items in list*

In [43]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
fruits_list.reverse()
print(fruits_list)

['Bananas', 'Oranges', 'Tomatoes', 'Apple']

*Delete an item at specified index using del*

In [44]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
del fruits_list[2]
print(fruits_list)

['Apple', 'Tomatoes', 'Bananas']

*Combine lists using + *

In [46]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
grocery_list = ['Rice', 'Dal', 'Salt']
to_do_list = fruits_list + grocery_list
print(to_do_list)

['Apple', 'Tomatoes', 'Oranges', 'Bananas', 'Rice', 'Dal', 'Salt']

*Get length of todo list*

In [47]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
grocery_list = ['Rice', 'Dal', 'Salt']
to_do_list = fruits_list + grocery_list
print(len(to_do_list))

7

*Get max and min values in the list*

In [48]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
grocery_list = ['Rice', 'Dal', 'Salt']
to_do_list = fruits_list + grocery_list
print(max(to_do_list))
print(min(to_do_list))

Tomatoes
Apple

***Tuples***

In [49]:
num_tuple = (3, 1, 4, 1, 5, 9)
print(num_tuple)

(3, 1, 4, 1, 5, 9)

*Converting tuple to a list*

In [51]:
num_tuple = (3, 1, 4, 1, 5, 9)
new_tuple = list(num_tuple)
print(new_tuple)

[3, 1, 4, 1, 5, 9]

*Converting a list to a tuple*

In [52]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
new_list = tuple(fruits_list)
print(new_list)

('Apple', 'Tomatoes', 'Oranges', 'Bananas')

*Get len, max, min in a tuple*

In [53]:
num_tuple = (3, 1, 4, 1, 5, 9)
print(len(num_tuple))
print(max(num_tuple))
print(min(num_tuple))

6
9
1

*Dictionary or Map*

In [55]:
books = {
    "Harper Lee": "To Kill a Mockingbird",
    "Dan Brown": "The Da Vinci Code",
    "Jane Austen": "Pride and Prejudice",
    "Alex Michaelides" : "1984"
}
print(books['Dan Brown'])

The Da Vinci Code

*Delete an entry in Dictionary*

In [56]:
del(books['Alex Michaelides'])
print(books)

{'Harper Lee': 'To Kill a Mockingbird', 'Dan Brown': 'The Da Vinci Code', 'Jane Austen': 'Pride and Prejudice'}

*Replace an entry*

In [1]:
books = {
    "Harper Lee": "To Kill a Mockingbird",
    "Dan Brown": "The Da Vinci Code",
    "Jane Austen": "Pride and Prejudice",
    "Alex Michaelides" : "1984"
}
books['Jane Austen'] = 'Harry Potter'
print(books['Jane Austen'])

Harry Potter

*Print the number of items in the dictionary*

In [2]:
books = {
    "Harper Lee": "To Kill a Mockingbird",
    "Dan Brown": "The Da Vinci Code",
    "Jane Austen": "Pride and Prejudice",
    "Alex Michaelides" : "1984"
}
print(len(books))

4

*Get the value for the passed key and to get a list of dictionary keys and values*

In [5]:
books = {
    "Harper Lee": "To Kill a Mockingbird",
    "Dan Brown": "The Da Vinci Code",
    "Jane Austen": "Pride and Prejudice",
    "Alex Michaelides" : "1984"
}
print(books.get('Dan Brown'))
print(books.keys())
print(books.values())

The Da Vinci Code
dict_keys(['Harper Lee', 'Dan Brown', 'Jane Austen', 'Alex Michaelides'])
dict_values(['To Kill a Mockingbird', 'The Da Vinci Code', 'Pride and Prejudice', '1984'])

***CONDITIONALS***

*If statements*

In [1]:
age = 25
if age > 18 :
    print('You can Vote!')

You can Vote!

*If else statements*

In [2]:
age = 25
if age > 18 :
    print('You can vote!')
else:
    print('You have to wait!')

You can vote!

*elif statements*

In [3]:
age = 16
if age >= 18 :
    print('You can vote!')
elif age >= 16:
    print('You are eligible to sign-up')
else :
    print('You cannot vote!')

You are eligible to sign-up

*Logical Operators*

In [4]:
age = 17
if ((age >= 1) and (age <= 18)):
    print("You will get 50% off on the ticket")
elif (age == 21) or (age >= 65):
    print("You are not eligible for the offer ")
else:
    print("You will get 10% off on the ticket")

You will get 50% off on the ticket

*Range in for loop*

In [1]:
for i in range(2, 20):
    if(i%2==0):
        print(i , ' ', end="")
print('\n')

2  4  6  8  10  12  14  16  18

*Using loops for lists*

In [2]:
fruits_list = ['Apple', 'Tomatoes', 'Oranges', 'Bananas']
for y in fruits_list:
    print(y)

Apple
Tomatoes
Oranges
Bananas

*Defining a list of numbers to cycle through*

In [4]:
for x in [1,3,5,7,11]:
    print(x, ' ', end="")

1  3  5  7  11

*Looping through 2 lists*

In [7]:
num_list =[[3,4,5],[30,40,50],[300,400,500]];

for x in range(0,3):
    for y in range(0,3):
        print(num_list[x][y],' ', end="")

3  4  5  30  40  50  300  400  500

***While loops***

*Import statements to make special functionality available. These are called modules.*

In [11]:
import random
nums_random = random.randrange(0,50)

while (nums_random != 12):
    print(nums_random,' ', end="")
    nums_random = random.randrange(0,50)

26  7  41  27  42

*Iterators in while loops are always defined before the loop*

In [16]:
i = 0;
while (i <= 15):
    if(i%3 == 0):
        print(i)
    elif(i == 8):
        break
    else:
        i += 1
        continue

    i += 1

0
3
6

***FUNCTIONS***

In [18]:
def addNumbers(fNum, sNum):
    sum = fNum + sNum
    return sum

print(addNumbers(2, 6))

8

*A variable defined before the function can be accessible anywhere*

In [19]:
nums = 0;
def subtract(fNum, sNum):
    nums = fNum - sNum
    return nums

print(subtract(2, 6))

-4

*STRINGS*

In [25]:
test_string = "the best time to plant a tree was 20 years ago. The second best time is now."

# Retrieve the first 6 characters
print(test_string[0:8])

# Get the last 5 characters
print(test_string[-5:])

# Everything up to the last 6 characters
print(test_string[:-7])

# Concatenate part of a string to another
print(test_string[:8] + " known")

# Capitalizes the first letter
print(test_string.capitalize())

# Returns the index of the start of the string
# case sensitive
print(test_string.find("years"))

# Returns true if all characters are letters
print(test_string.isalpha())

# Returns true if all characters are numbers
print(test_string.isalnum())

# Returns the string length
print(len(test_string))

# Replace the first word with the second
print(test_string.replace("now", "never"))

# Remove white space from front and end
print(test_string.strip())

# Split a string into a list based on the delimiter you provide
quote_list = test_string.split(" ")
print(quote_list)

the best
 now.
the best time to plant a tree was 20 years ago. The second best time
the best known
The best time to plant a tree was 20 years ago. the second best time is now.
37
False
False
76
the best time to plant a tree was 20 years ago. The second best time is never.
the best time to plant a tree was 20 years ago. The second best time is now.
['the', 'best', 'time', 'to', 'plant', 'a', 'tree', 'was', '20', 'years', 'ago.', 'The', 'second', 'best', 'time', 'is', 'now.']

*String formatting*

In [27]:

print("%c is my %s letter and my number %d number is %.4f" % ('X', 'favorite', 1, .81))

X is my favorite letter and my number 1 number is 0.8100

_FILE I/O_

In [40]:
from google.colab import files
import os

# Save a file
with open('example.txt', 'w') as f:
    f.write("Hello, World!")

#To download the file
#files.download('example.txt')

# Read from a file
with open('example.txt', 'r') as f:
    content = f.read()
    print(content)

#Write text to a file with a newline
with open('example.txt', 'w', encoding='utf-8') as f:
    content = f.write("Write me to the file\n")
    print(content)

#Opens a file for reading and writing
with open("example.txt", "r+", encoding="utf-8") as file:
    content = file.read()
    print(content)
    file.write("\nAdditional text.")

# Delete the file
os.remove("example.txt")

Hello, World!
21
Write me to the file

***CLASSES,OBJECTS,INHERITANCE***

In [54]:
class Rect:
    __height = None
    __length = None

    def __init__(self, height, length):
        self.__height = height
        self.__length = length

    def set_height(self, height):
        self.__height = height

    def set_length(self, length):
        self.length = length

    def get_height(self):
        return str(self.__height)

    def get_length(self):
        return str(self.__length)

    def toRect(self):
      return "The rectangle is {}cm in length and {} cm in height.".format(self.__length, self.__height)

new_rect = Rect('10','20')
print(new_rect.toRect())

class Cube(Rect):
    def __init__(self, height, length, width):
        super().__init__( height, length)  # Call the constructor of the base class
        self.__width = width

    def set_width(self, width):
        self.width = width

    def get_width(self):
        return str(self.__width)

    def toCube(self):
      return "The cube is {}cm in length and {} cm in height. The width of cube is {}cm".format(self.get_length(), self.get_height(),self.get_width())

new_cube = Cube(10,20,30)
print(new_cube.toCube())

The rectangle is 20cm in length and 10 cm in height.
The cube is 20cm in length and 10 cm in height. The width of cube is 30cm

***Polymorphism***

In [55]:
class Shape():
    def area(self):
      raise NotImplementedError("Subclasses must implement this method")

class Rect(Shape):
    _height = None
    _length = None

    def __init__(self, height, length):
        self._height = height
        self._length = length

    def set_height(self, height):
        self._height = height

    def set_length(self, length):
        self.length = length

    def get_height(self):
        return str(self._height)

    def get_length(self):
        return str(self._length)

    def __str__(self):
        return f"Rectangle(length={self._length}, height={self._height})"

    def area(self):
      return self._length * self._height

class Cube(Rect, Shape):
    def __init__(self, height, length, width):
        super().__init__( height, length)  # Call the constructor of the base class
        self._width = width

    def set_width(self, width):
        self.width = width

    def get_width(self):
        return str(self._width)

    def area(self):
      return self._length * self._height * self._width

    def __str__(self):
        return f"Cube(length={self._length}, height={self._height}, width={self._width})"

def print_area(shape):
      print(f"The area of the {shape} is {shape.area()}")

rectangle = Rect(height=4, length=6)
cube = Cube(length=6, height=6, width=4)

print_area(rectangle)
print_area(cube)

The area of the Rectangle(length=6, height=4) is 24
The area of the Cube(length=6, height=6, width=4) is 144